<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Coverage Service (WCS) Interpolation Extension</name>
    <version>
      <name>1.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/wcs/2.0</namespace-uri>
        <prefix>wcs-rint</prefix>
        <local-name>suite</local-name>
        <title>WCS 2.0 Interpolation Extension Conformance Test Suite</title>
        <description>Checks WCS Interpolation Extension implementations for conformance with OGC 12-049.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>wcs/${spec-version}/ctl</source>
        </sources>
        <resources>wcs/${spec-version}/resources</resources>
        <webdir>wcs/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
